# Data Container

- List

- Tuple

- Dictionary or Dict

- Set

# Week 1 Homework

In [1]:
# 강영수
# https://www.youtube.com/watch?v=yLmfxJXWEjY

for i in range (2,10):
    for j in range(1,10):
        print(i,"x",j,"=",i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [4]:
# https://www.youtube.com/watch?v=yLmfxJXWEjY

for i in range (2,10):
    
    for j in range(1,10):
        print("{} x {} = {:2}".format(i,j,i*j))         
    print()

2 x 1 = 02
2 x 2 = 04
2 x 3 = 06
2 x 4 = 08
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 = 03
3 x 2 = 06
3 x 3 = 09
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 = 04
4 x 2 = 08
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 = 05
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 = 06
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 = 07
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 = 08
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 = 09
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [2]:
# 한제희

s = 0
for a in range(1,101):
    s = s + a
    print(s)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [3]:
# 한제희

sq = 0
for b in range(1,101):
    sq = sq + b**2
    print(sq)

1
5
14
30
55
91
140
204
285
385
506
650
819
1015
1240
1496
1785
2109
2470
2870
3311
3795
4324
4900
5525
6201
6930
7714
8555
9455
10416
11440
12529
13685
14910
16206
17575
19019
20540
22140
23821
25585
27434
29370
31395
33511
35720
38024
40425
42925
45526
48230
51039
53955
56980
60116
63365
66729
70210
73810
77531
81375
85344
89440
93665
98021
102510
107134
111895
116795
121836
127020
132349
137825
143450
149226
155155
161239
167480
173880
180441
187165
194054
201110
208335
215731
223300
231044
238965
247065
255346
263810
272459
281295
290320
299536
308945
318549
328350
338350

In [2]:
# 어정규

sum = 0
for i in range(3, 101, 3):
    sum = sum + i
    print(sum)

3
9
18
30
45
63
84
108
135
165
198
234
273
315
360
408
459
513
570
630
693
759
828
900
975
1053
1134
1218
1305
1395
1488
1584
1683

In [1]:
print(sum([1,2,3,4,5]))

15

In [2]:
# https://www.youtube.com/watch?v=xvKwrRh8RHM

temp = 0
for i in range(3, 101, 3):
    # temp = temp + i
    temp += i
    print(temp)

3
9
18
30
45
63
84
108
135
165
198
234
273
315
360
408
459
513
570
630
693
759
828
900
975
1053
1134
1218
1305
1395
1488
1584
1683

In [3]:
print(range(3, 101, 3))

range(3, 101, 3)

In [9]:
# https://www.youtube.com/watch?v=udDod-Q1akg

import numpy as np

x = np.arange(3, 101, 3)

print(x)
print(type(x))
print(np.sum(x))

[ 3  6  9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72
 75 78 81 84 87 90 93 96 99]
<class 'numpy.ndarray'>
1683

In [12]:
# 최성훈

sum=0
n=int(input("마지막 수를 입력하세요->"))
n=n+1
for i in range(1,n):
    sum+=int(i**2)
print(sum)

마지막 수를 입력하세요->100
338350

In [7]:
n = int(input("마지막 수를 입력하세요->"))

temp = 0
for i in range(1,n+1):
    temp += i**2
    
print(temp)

마지막 수를 입력하세요->100
338350

In [ ]:
# 최성훈

sum=0
n=int(input(" 마지막 수를 입력하세요->"))
n=n+1
for i in range(1,n):
    sum+=float(1/i)
print(sum)

In [1]:
# 최성훈

n = int(input(" 마지막 수를 입력하세요->"))

temp = 0
for i in range(1,n+1):
    temp += (1./i)
    
print(temp)

 마지막 수를 입력하세요->100
5.187377517639621

In [8]:
print(1/2)

0.5

In [1]:
# 박소현
# list comprehension

def f(N):
    return sum([n for n in range(1,N+1)])

print(f(100))
print(f(1000))

5050
500500

In [2]:
# 박소현
# recusion

def fact(n):
    if (n==0) or (n==1):
        return 1
    return n * fact(n-1)

print(fact(5))
print(5*4*3*2*1)

120
120

# List

In [3]:
x = []

print(x)
print(type(x))
print(dir(list))

[]
<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [5]:
x = []
print(x)

for i in range(10):
    x.append(i)
    print(x)
    
print()
    
for i in range(10):
    x.pop()
    print(x)

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 2]
[0, 1]
[0]
[]

In [6]:
x = []
print(x)

for i in range(10):
    x.append(i)
    print(x)
    
print()
    
for i in range(10):
    x.pop(0)
    print(x)

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[6, 7, 8, 9]
[7, 8, 9]
[8, 9]
[9]
[]

# indexing and slicing

In [15]:
x = [1, 3, 5, 7, 9, 1, 0, 1]
#    0  1  2  3  4  5  6  7
#         -6 -5 -4 -3 -2 -1

print(x[2])
print(x[-1])
print(x[2:5])
print(x[2:])
print(x[:5])
print(x[:5:2])
print(x[:])
print(x[::-1])
print(x)

5
1
[5, 7, 9]
[5, 7, 9, 1, 0, 1]
[1, 3, 5, 7, 9]
[1, 5, 9]
[1, 3, 5, 7, 9, 1, 0, 1]
[1, 0, 1, 9, 7, 5, 3, 1]
[1, 3, 5, 7, 9, 1, 0, 1]

In [16]:
x = "I am happy now!!!"

print(x[2])
print(x[-1])
print(x[2:5])
print(x[2:])
print(x[:5])
print(x[:5:2])
print(x[:])
print(x[::-1])
print(x)

a
!
am
am happy now!!!
I am
Ia
I am happy now!!!
!!!won yppah ma I
I am happy now!!!

In [17]:
x = (1, 3, 5, 7, 9, 1, 0, 1)
#    0  1  2  3  4  5  6  7
#         -6 -5 -4 -3 -2 -1

print(x[2])
print(x[-1])
print(x[2:5])
print(x[2:])
print(x[:5])
print(x[:5:2])
print(x[:])
print(x[::-1])
print(x)

5
1
(5, 7, 9)
(5, 7, 9, 1, 0, 1)
(1, 3, 5, 7, 9)
(1, 5, 9)
(1, 3, 5, 7, 9, 1, 0, 1)
(1, 0, 1, 9, 7, 5, 3, 1)
(1, 3, 5, 7, 9, 1, 0, 1)

# list is mutable whereas tuple is immutable

In [18]:
x = [1,2,3]
print(x)

x[1] = -2
print(x)

[1, 2, 3]
[1, -2, 3]

In [19]:
x = (1,2,3)
print(x)

x[1] = -2
print(x)

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [20]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [22]:
x = 'I am happy.'
x[2] = 'A'

TypeError: 'str' object does not support item assignment

In [21]:
x = 'I am happy.'
print(x)
print(x.upper())
print(x)

I am happy.
I AM HAPPY.
I am happy.

In [23]:
x = 'I am happy.'
print(x)

x = x.upper()
print(x)

I am happy.
I AM HAPPY.

# Dict and Set

In [24]:
x = {}

print(x)
print(type(x))

{}
<class 'dict'>

In [25]:
x = {'dog': 5, 'cat': 3}

print(x)
print(x['cat']) 
print(type(x))

{'cat': 3, 'dog': 5}
3
<class 'dict'>

In [26]:
x = set()

print(x)
print(type(x))

set()
<class 'set'>

In [27]:
x = {1,2,3,3,2,1,4}

print(x)
print(type(x))

{1, 2, 3, 4}
<class 'set'>